{% macro blogPost(data) %}
   <a href={{data.url}}>
        <div class="flex flex-col h-full hover:shadow-md transition-all duration-200 zoom-card-animation">
            <div class="w-full flex-grow relative">
                <img src="{{data.img}}" alt="post cover" class="rounded-t-lg object-cover h-full w-full " />
            </div>
            <div class="py-6 px-4 text-center bg-cream rounded-b-lg flex flex-col justify-center z-20">
                <p class="text-xs uppercase font-bold py-2 opacity-50 font-lato">
                    {{data.category}}
                </p>
                <h6 class="text-gray-600">{{data.title}}</h6>
            </div>
        </div>
    </a>
{% endmacro %} 