<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/animations.css"/>
    <title>{{ title }}</title>
    
    <meta name="keywords" content="akhilmhdh, blog, product building, technology, life, software architecture"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Akhil Mohan">
    <meta name="twitter:description" content="Sharing my thoughts on technology, product building, and life">
    <meta name="twitter:image" content="https://github.com/akhilmhdh.png"/>

    <!-- Essential Facebook Meta Tags -->
    <meta property="og:title" content="Akhil Mohan"/>
    <meta property="og:description" content="Sharing my thoughts on technology, product building, and life"/>
    <meta property="og:image" content="https://github.com/akhilmhdh.png"/>
    <meta name="robots" content="all"/>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5LKPR67');</script>
    <!-- End Google Tag Manager -->
</head>

<body class="m-0 flex flex-col">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5LKPR67"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header class="sticky top-0 bg-white dark:bg-zinc-900 shadow-sm shadow-cream dark:shadow-slate-800 z-30">
        {% include "partials/nav.njk" %}
    </header>
    <main class="flex-grow mx-auto w-full p-4 pt-0">
        {{ content | safe }}
    </main>
    {% include "partials/footer.njk" %}
</body>

</html>