<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css" />
    <title>{{ title }}</title>
</head>

<body class="h-screen m-0 px-4 pt-6 flex flex-col">
    <header>
        {% include "partials/nav.njk" %}
    </header>
    <main class="flex-grow mx-auto max-w-3xl w-full">
        {{ content | safe }}
    </main>
    {% include "partials/footer.njk" %}
</body>

</html>