<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/blog.css" />
    <title>{{ title }}</title>
</head>

<body class="h-screen m-0 px-4 pt-6 flex flex-col">
    <header>
        {% include "partials/nav.njk" %}
    </header>
    <main class="flex-grow w-full py-12">
        <section class=" flex flex-col items-center text-center mb-8">
            <div class="mb-8">
                <h1 class="mb-2">
                    {{title}}
                </h1>
                <span class="text-xs uppercase font-bold opacity-50 font-lato">
                    {{tags[0]}}
                </span>
            </div>
            <div class="w-full max-w-4xl">
                <img src="{{cover.image}}" alt="cover" class="w-full rounded-md mb-4 object-cover"/>
                <cite class="text-sm italic text-gray-500">
                    {{cover.caption}}
                </cite>
            </div>
        </section>
        <section class="mx-auto w-full max-w-3xl leading-7">
            <div class="text-2xl leading-7 font-bold text-gray-500 mb-8">
                {{description}}
            </div>
            {{ content | safe }}
        </section>
    </main>
    {% include "partials/footer.njk" %}
</body>

</html>