{% from "components/icons.njk" import facebookIcon,linkedinIcon,twitterIcon,mailIcon %}

{% set buildSocialMediaURLJS %}
  {% include "js/buildSocialMediaURL.js" %}
{% endset %}
{% set readingProgressbarJS %}
  {% include "js/readingProgressbar.js" %}
{% endset %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/blog.css" />
    <title>{{ title }}</title>
</head>

<body class="m-0 flex flex-col">
    <header class="sticky top-0 bg-white pt-4 shadow-sm shadow-cream z-30">
        {% include "partials/nav.njk" %}
    </header>
    <div id="progress-bar" class="sticky" style="top:68px;"></div>
    <main class="flex-grow p-4 pt-0">
        <section class="flex flex-col items-center text-center my-8">
            <div class="mb-8">
                <h1 class="mb-2">
                    {{title}}
                </h1>
                <span class="text-xs uppercase font-bold opacity-50 font-lato">
                    {{tags[0]}}
                </span>
            </div>
            <div class="w-full max-w-4xl">
                <img src="{{cover.image}}" alt="cover" class="w-full rounded-md mb-4 object-cover"/>
                <cite class="text-sm italic text-gray-500">
                    {{cover.caption}}
                </cite>
            </div>
        </section>
        <div class="sticky top-48 float-left p-4 hidden lg:block">
            {% blogIndex %}
        </div>
        <div class="shadow-md bg-white sticky top-48 float-right hidden md:flex flex-col p-4 border-cream rounded-md border">
            <a  class="text-gray-600 hover:text-primary transition-all share-twitter mb-4"   target="_blank" rel="noopener noreferrer">
                    {{twitterIcon(32,32)}}
            </a>
             <a  target="_blank" rel="noopener noreferrer" class="share-linkedin mb-4 text-gray-600 hover:text-primary transition-all">
                    {{linkedinIcon(32,32)}}
            </a>
             <a class="text-gray-600 hover:text-primary transition-all mb-4 share-mail" target="_blank" rel="noopener noreferrer">
                    {{mailIcon(32,32)}}
            </a>
             <a class="text-gray-600 hover:text-primary transition-all share-facebook" target="_blank" rel="noopener noreferrer">
                    {{facebookIcon(32,32)}}
            </a>
        </div>
        <section class="mx-auto w-full max-w-3xl leading-7">
            <div class="text-2xl leading-7 font-bold text-gray-500 mb-8">
                {{description}}
            </div>
            {{ content | safe }}
        </section>
        <section class="my-8 block md:hidden">
            <div class="text-center">
                <h6>Share this article</h6>
            </div>
            <div class="flex justify-around p-4">
                <a  class="text-gray-600 hover:text-primary transition-all share-twitter"   target="_blank" rel="noopener noreferrer">
                        {{twitterIcon(32,32)}}
                </a>
                <a  target="_blank" rel="noopener noreferrer" class="share-linkedin text-gray-600 hover:text-primary transition-all">
                        {{linkedinIcon(32,32)}}
                </a>
                <a class="text-gray-600 hover:text-primary transition-all share-mail" target="_blank" rel="noopener noreferrer">
                        {{mailIcon(32,32)}}
                </a>
                <a class="text-gray-600 hover:text-primary transition-all share-facebook" target="_blank" rel="noopener noreferrer">
                        {{facebookIcon(32,32)}}
                </a>
             </div>
        </section>
    </main>
    {% include "partials/footer.njk" %}
    <script>
        {{ buildSocialMediaURLJS | jsmin | safe }}
    </script>
    <script>
        {{ readingProgressbarJS | jsmin | safe }}
    </script>
</body>

</html>