@import url(./fonts.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Merriweather", serif;
        @apply text-gray-700 scroll-smooth h-full
    }

    body {
        @apply min-h-full
    }

    svg {
        fill: currentColor;
    }
    
    h1,h2,h3,h4,h5,h6 {
        font-family: "Lato", sans-serif;
    }

    h1 {
        @apply font-bold text-4xl md:text-5xl
    }

    h2 {
        @apply text-3xl font-bold md:text-4xl
    }

    h3 {
        @apply text-2xl font-bold md:text-3xl
    }

    h4 {
        @apply text-xl font-bold md:text-2xl
    }

    h5 {
        @apply text-lg font-bold md:text-xl
    }

    h6 {
        @apply text-base font-bold md:text-lg
    }   
}

@layer components {
    .zoom-card-animation {
       overflow: hidden;
    }

    .zoom-card-animation img {
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
    }

    .zoom-card-animation:hover img {
        transform: scale(1.1);
    }
    
    @keyframes animateWave {
        0% {
            transform: scale(1, 0);
        }

        100% {
            transform: scale(1, 1);
        }
    }

    .wave {
        display: block;
        transform-origin: bottom;
        animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
    }
}