---
title: Akhil
layout: layouts/base.njk
---

<section class="w-full my-12 md:mt-60 mx-auto max-w-5xl">
    <div class="w-full flex flex-col md:flex-row justify-between items-center">
        <div class="h-96 flex-grow mb-4 lg:mb-0">
            {% include "partials/developer.njk" %}
        </div>
        <div class="font-lato text-center text-primary">
            <h1 class="text-9xl ">
                404
            </h1>
            <div class="text-3xl">
                Page not found
            </div>
            <div class="pt-8">
               <a href="/">
                    <button class="py-2 px-4 rounded-md bg-secondary text-white dark:text-zinc-900 hover:opacity-70 transition-all">
                        Head Home
                    </button>
                </a> 
            </div>
        </div>
    </div>
</section>