---
title: Akhi
layout: layouts/base.njk
---
{% from "components/icons.njk" import ghIcon,linkedinIcon,twitterIcon %}
{% from "components/blogPost.njk" import blogPost %}

<div class="w-full pt-4 flex flex-col gap-8">
    <div class="flex gap-6 items-center">
        <div>
            <img src="https://github.com/akhilmhdh.png" alt="avatar" class="w-32 h-32 rounded-md" /> 
        </div>
        <div class="flex flex-col">
            <h1 class="mb-5">
                Hi, I'm Akhil
            </h1>
            <div class="flex gap-4">
                 <a href="/" class="">
                    {{ghIcon(24,24)}}
                </a>
                <a href="/">
                    {{linkedinIcon(24,24)}}
                </a>
                <a href="/">
                    {{twitterIcon(24,24)}}
                </a>
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-4 max-w-xl">
        <p>
            I'm a software engineer at Red Hat, who loves to solve problems and build solutions.
        </p>
        <p>
           Right now on a journey to discover various aspects of myself and push myself into new domains.
            Here I share
            my thoughts and insights on things I have learned in technology, product building, and life.
        </p>
    </div>
    <div class="flex flex-col mb-4">
        <div class="py-4 border-b border-grey-lighter mb-4">
            <h3>
                Most Recent Posts
            </h3>
        </div>
        <div class="grid grid-cols-4 gap-4">
            <div class="col-span-4">
                {{blogPost(
                "Effective React",
                "Something on React",
                "react",
                "https://hs-marketing-contentful.imgix.net/https%3A%2F%2Fimages.ctfassets.net%2Fp15sglj92v6o%2F1i5P2Iq4omhSnzajCWjsxd%2F9f613f5b011bcc6ebd0ddfc0198d7849%2Fthe-supportive-7.png?ixlib=gatsbySourceUrl-2.0.2&auto=format%2C%20compress&w=814&h=458&s=42204952307dfede0c5d040d83943917"
            )}}
            </div>
            <div class="col-span-2">
                {{blogPost(
                "Effective React",
                "Something on React",
                "react",
                "https://hs-marketing-contentful.imgix.net/https%3A%2F%2Fimages.ctfassets.net%2Fp15sglj92v6o%2F1i5P2Iq4omhSnzajCWjsxd%2F9f613f5b011bcc6ebd0ddfc0198d7849%2Fthe-supportive-7.png?ixlib=gatsbySourceUrl-2.0.2&auto=format%2C%20compress&w=814&h=458&s=42204952307dfede0c5d040d83943917"
            )}}
            </div>
            <div class="col-span-2">
                {{blogPost(
                "Effective React",
                "Something on React",
                "react",
                "https://hs-marketing-contentful.imgix.net/https%3A%2F%2Fimages.ctfassets.net%2Fp15sglj92v6o%2F1i5P2Iq4omhSnzajCWjsxd%2F9f613f5b011bcc6ebd0ddfc0198d7849%2Fthe-supportive-7.png?ixlib=gatsbySourceUrl-2.0.2&auto=format%2C%20compress&w=814&h=458&s=42204952307dfede0c5d040d83943917"
            )}}
            </div>
        </div>
    </div>
</div>