---
title: Akhi
layout: layouts/base.njk
---
{% from "components/icons.njk" import ghIcon,linkedinIcon,twitterIcon,mailIcon, chevronRightIcon %}
{% from "components/blogPost.njk" import blogPost %}

<section class="bg-cream dark:bg-zinc-800 -mx-4">
    <div class="w-full flex flex-col-reverse lg:flex-row justify-center lg:justify-between items-center lg:items-end pt-12 p-4 mx-auto max-w-5xl animate-fade-in-down">
       <div class="flex flex-col items-center lg:items-start flex-shrink-0">
            <div class="flex flex-col md:flex-row items-center justify-center lg:justify-start mb-8">
                <div class="mr-0 mb-6 lg:mr-6 lg:mb-0 flex-shrink-0 hidden lg:block">
                    <img src="https://github.com/akhilmhdh.png" alt="avatar" class="w-32 h-32 rounded-md" /> 
                </div>
                <div class="flex flex-col items-center lg:items-start">
                    <h1 class="mb-5">
                        Hi, I'm Akhil
                    </h1>
                    <div class="flex">
                        <a href="/" class="hover:text-primary transition-all mr-4"  target="_blank" rel="noopener noreferrer">
                            {{ghIcon(28,28)}}
                        </a>
                        <a href="/" class="hover:text-primary transition-all mr-4"  target="_blank" rel="noopener noreferrer">
                            {{mailIcon(28,28)}}
                        </a>
                        <a href="/" class="hover:text-primary transition-all mr-4"  target="_blank" rel="noopener noreferrer">
                            {{linkedinIcon(28,28)}}
                        </a>
                        <a href="/" class="hover:text-primary transition-all mr-4"  target="_blank" rel="noopener noreferrer">
                            {{twitterIcon(28,28)}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex flex-col max-w-xl  bg-secondary dark:text-zinc-900 rounded-lg p-8 shadow-md">
                <p class="mb-4">
                    I'm a software engineer at Red Hat, who loves to solve problems and build solutions.
                </p>
                <p>
                    Here I share
                    my thoughts and insights on things I have learned in technology, product building, and life.
                </p>
            </div>
        </div>
        <div class="h-[360px] mb-4 lg:mb-0">
            {% include "partials/developer.njk" %}
        </div>
    </div>
    <div>
        {# Credits for wave: https://getwaves.io/ #}
        <svg class="wave h-32 w-full" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path class="fill-white dark:fill-zinc-900" fill-opacity="1" d="M0,64L60,85.3C120,107,240,149,360,170.7C480,192,600,192,720,176C840,160,960,128,1080,128C1200,128,1320,160,1380,176L1440,192L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z" style="--darkreader-inline-fill: #fff;" data-darkreader-inline-fill=""></path></svg>
    </div>
</section>
<section class="w-full flex flex-col mb-12 mx-auto max-w-5xl">
    <div class="flex flex-col md:flex-row justify-between items-center py-4 border-b border-grey-lighter mb-8">
        <div class="mb-4 md:mb-0">
            <h3>
                Most Recent Posts
            </h3>
        </div>
        <a href="/blogs" class="hover:text-primary transition-all">
            <div class="flex items-center">
                <div class="text-sm md:text-base whitespace-nowrap font-lato md:mb-2">
                    All my blogs
                </div>
                <div>
                    {{chevronRightIcon(16,16)}}
                </div>
            </div>
        </a>
    </div>
    <div class="grid grid-cols-3 gap-8">
        {%- for blog in collections.blogs | reverse -%}
            {% if (loop.index <= 3) %}
                <div class="col-span-3 {{ "md:[grid-area:auto_/_auto_/_span_2_/_span_2]" if loop.first else "md:col-span-1" }}">
                    {{
                    blogPost({
                        title: blog.data.title,
                        description: blog.data.description,
                        category: blog.data.tags[0],
                        img: blog.data.cover.image,
                        url: blog.url
                    }) 
                    }}
                </div>
            {% endif %}
        {%- endfor -%}
        </div>
    </div>
</section>