---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - blogs
title: My Blogs
permalink: /tags/{{ tag }}/
layout: base
---

{% from "components/blogPost.njk" import blogPost %}

<section class="w-full flex flex-col my-4  mx-auto max-w-5xl">
    <div class="py-4 border-b border-grey-lighter mb-8">
        <h3 class="capitalize">
            {{tag}}
        </h3>
    </div>
    <div class="grid grid-cols-6 gap-6">
        {%- for blog in collections[tag] | reverse -%}
            <div class="col-span-6 md:col-span-3 lg:col-span-2">
                {{
                    blogPost({
                        title: blog.data.title,
                        description: blog.data.description,
                        category: blog.data.tags[0],
                        img: blog.data.cover.image,
                        url: blog.url,
                        date: blog.date
                    }) 
                }}
            </div>
        {%- endfor -%} 
    </div>
    <div class="mt-6 mb-12 py-6 border-t border-gray-200">
        {% include "partials/blogTags.njk" %}
    </div>
</section>