<div>
    <span class="text-sm font-lato">
      More on <span class="mx-1">|</span>
    </span>
    {%- for tag in blogTags(collections) -%}
        <a class="text-sm capitalize font-lato mr-4 py-1 px-4 rounded-md bg-cream dark:bg-zinc-800 hover:text-primary transition-all" href="/tags/{{tag}}">
          {{tag}}  
        </a>
     {%- endfor -%}
</div>