{% from "components/icons.njk" import ghIcon,linkedinIcon,twitterIcon,logo %}

<footer>
    <div
        class="mx-auto max-w-5xl flex flex-col items-center justify-between border-t border-grey-lighter py-10 sm:flex-row sm:py-12">
        <div class="flex flex-col sm:flex-row font-lato">
            <a href="/">
                {{logo(28)}}
            </a>
        </div>
        <div>
            <p class="font-lato font-bold text-sm text-gray-500">
                © {{page.date.getFullYear()}} Akhil Mohan.
            </p>
        </div>
        <div class="flex flex-col gap-4 sm:flex-row items-center">
            <a href="/" class="hover:text-primary transition-all"  target="_blank" rel="noopener noreferrer">
               {{ghIcon(32,32)}}
            </a>
            <a href="/" class="hover:text-primary transition-all"  target="_blank" rel="noopener noreferrer">
                {{linkedinIcon(32,32)}}
            </a>
            <a href="/" class="hover:text-primary transition-all"  target="_blank" rel="noopener noreferrer">
                {{twitterIcon(32,32)}}
            </a>
        </div>
    </div>
</footer>