{% from "components/icons.njk" import ghIcon,linkedinIcon,twitterIcon,logo,mailIcon %}

<footer>
    <div
        class="mx-auto max-w-5xl flex flex-col items-center justify-between border-t border-grey-lighter py-10 sm:flex-row sm:py-12 px-4">
        <div class="flex flex-col mb-2 md:mb-0 sm:flex-row font-lato">
            <a href="/">
                {{logo(36)}}
            </a>
        </div>
        <div class="mb-6 md:mb-0">
            <p class="font-lato font-bold text-sm text-zinc-500 dark:text-zinc-400">
                © {{page.date.getFullYear()}} Akhil Mohan.
            </p>
        </div>
        <div class="flex flex-row items-center">
            <a href="{{platformLinks.github}}" class="hover:text-primary transition-all"  target="_blank" rel="noopener noreferrer">
               {{ghIcon(32,32)}}
            </a>
            <a href="mailto:{{platformLinks.mail}}" class="hover:text-primary transition-all ml-4"  target="_blank" rel="noopener noreferrer">
                {{mailIcon(32,32)}}
            </a>
            <a href="{{platformLinks.linkedin}}" class="hover:text-primary transition-all ml-4"  target="_blank" rel="noopener noreferrer">
                {{linkedinIcon(32,32)}}
            </a>
            <a href="{{platformLinks.twitter}}" class="hover:text-primary transition-all ml-4"  target="_blank" rel="noopener noreferrer">
                {{twitterIcon(32,32)}}
            </a>
        </div>
    </div>
</footer>