{% from "components/icons.njk" import ghIcon,linkedinIcon,twitterIcon %}

<footer>
    <div
        class="mx-auto max-w-3xl flex flex-col items-center justify-between border-t border-grey-lighter py-10 sm:flex-row sm:py-12">
        <div class="flex flex-col sm:flex-row font-lato">
            <a href="/">
                Logo
            </a>
            <p>
                ©2021 Akhil Mohan.
            </p>
        </div>
        <div class="flex flex-col gap-4 sm:flex-row items-center">
            <a href="/" class="">
               {{ghIcon(32,32)}}
            </a>
            <a href="/">
                {{linkedinIcon(32,32)}}
            </a>
            <a href="/">
                {{twitterIcon(32,32)}}
            </a>
        </div>
    </div>
</footer>