<nav class="flex justify-between items-center mx-auto max-w-5xl font-lato mb-6">
    <div>
        <a href="/">
            LOGO
        </a>
    </div>
    <div class="flex gap-6 items-center">
        <a href="/home">
            Home
        </a>
        <a href="/blogs">
            Blogs
        </a>
        <a href="/blogs">
            My Reads
        </a>
    </div>
</nav>